<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= post.access %>
  </p>

  <p>
    <strong>Passcode:</strong>
    <%= post.passcode %>
  </p>

</div>
